body{
    padding:0;
    margin:0;
}

/*Header section*/
#header-section{
    margin: auto;
    margin-bottom: 2.5%;
    width:95%;
}
#navigation{
    overflow: hidden;
}
.nav-link{
    list-style: none;
    float:right;
}
.nav-link li{
    display: inline-block;
    width: 6em;
}
#logo{
    font-weight: bolder;
    font-size: 2em;
}
/*Main section*/
#content{
    width:98%;
    margin:auto;
    background-color: #dfc8c8;
    padding-bottom: 4em;
}
#top-content{
    margin-left:2.5%;
    padding-top: 1em;
    width:25%;  
}
#top-content p{
    width:70%;
}
.learn-btn{
    padding:1% 2% 1% 2%;
}
/*Card section*/

#card-container{
    padding-top:2em;
    width: 95%;
    margin:auto;
    overflow: hidden;
}
.card{
    float:left;
    width:33.3%; 
}
.card-img{
    width:50%;
    margin:auto;
    background-color: #dfc8c8;
    padding: 16% 10% 16% 10%;
}
.card-header{
    text-align: center;
}
.card-paragraph{
    width:70%;
    margin:auto;
    text-align: center;
}
.card-link{
    width: 70%;
    margin:auto;
    text-align: center;
}

/*Subscribe section*/
#subscribe-section{
    width:98%;
    margin:auto;
    background-color: #dfc8c8;
    margin-top: 2em;
    padding-bottom: 2%;
}
.subscribe-content{
    width:50%;
    margin: auto;
    padding-top:2.5%;
}
#sbs-heading{
    display: inline;
}
.sbs-input{
    padding-top: 1%;
    padding-bottom: 1%;
    width:30%;
}
.sbs-btn{
    width: 30%;
    font-weight: 900;
    color: white;
    padding-top: 1.3%;
    padding-bottom: 1.3%;
    background-color: #288ACF;
    border: none;
    cursor: pointer;
}
#footer{
    width:95%;
    margin: auto;
}
#footer-left{
    float: left;
}
#footer-right{
    float: right;
}
@media only screen and (max-width: 768px) {
    [class="card"]{
        clear:both;
        width:90%;
        margin:auto;
        margin-top: 2%;
        margin-left: 5%;
    }
    [class="sbs-input"]{
        width:50%;
    }
    [class="card-container"]{
        padding-left:2%;
    }
    [class="top-content"]{
        width:50%;
    }
    [class="top-c"]{
        width:60% !important;
    }
    [class="sbs-input"]{
        width:60%;
        margin-top:5%;
    }
    [class="sbs-btn"]{
        width:50%;
        margin-top:5%;
    }
}